.container{
  border:1px solid #666;
  margin:3ex auto;
}

header{
  outline:1px solid #666;
}

.col-sm-4 img{
  width: 12em;
  display: block;
  margin:1ex auto;
}

.col-sm-4{
  outline:1px solid #666;
}

.col-sm-8 img{
  width: 16em;
  display: block;
  margin:2ex auto 0 auto;
}

.col-sm-8 h1{
  font-size:50pt;
  margin-top:0;
  text-align:center;
}

#formML {
  margin:4ex 0;
}

h3 {
  font-size:14pt;
  margin:0 0 1em 0.9em;
}

button {
  margin-left:0.9em;
}

.ngMessagesClass {
    height: 50px;
    width: 350px;
}

.ngMessagesClass.ng-active-add {
    transition: 0.3s linear all;
    background-color: red;
}

.ngMessagesClass.ng-active {
    background-color: red;
}

.ngMessagesClass.ng-inactive-add {
    transition: 0.3s linear all;
    background-color: white;
}

.ngMessagesClass.ng-inactive {
    background-color: white;
}

.ngMessageClass {
    color: white;
}

.ngMessageClass.ng-enter {
    transition: 0.3s linear all;
    color: transparent;
}

.ngMessageClass.ng-enter-active {
    color: white;
}

.ngMessageClass.ng-leave {
    transition: 0.3s linear all;
    color: white;
}

.ngMessageClass.ng-leave-active {
    color: transparent;
}
